@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	--tb-base-bg: #00000039;
	--tb-base-fg: #ffffff;
	--tb-base-hover: #ffffff30;
	--tb-base-active: #00000068;
	--tb-accent-bg: #6498EFEE;
	--tb-secondary-bg: #252525;
	--tb-radius: 6px;
}


/* Today Panel */

sidebarheader {
	font-weight: bold !important;
}
#agenda-listbox, #agenda-toolbar, #mini-day-box, sidebarheader {
	-moz-appearance: none !important;
	background-image: none !important;
	background-color: var(--tb-base-bg) !important;
	border: none !important;
}

.agenda-container-box[selected=true] {
	background: var(--tb-base-bg) !important;
}

.agenda-container-box:hover {
	background: var(--tb-base-hover) !important;
}

#miniday-dropdown-minimonth {
/* 	background: transparent !important; */
}



/* Calendar Pane */

.mail-toolbox {
	background: var(--tb-base-bg) !important;
}

/* Calendar Left Pane List */
#calendar-list-tree-widget {
	background: var(--tb-base-bg) !important;
}

minimonth {
	--mmMainBackground: transparent !important;
	--mmBoxBackground: var(--tb-base-bg) !important;
	--mmBoxBorderColor: none !important;
	--mmDayColor: WindowText !important;
	--mmDayBorderColor: transparent !important;
	--mmDayOtherColor: var(--tb-base-fg) !important;
	--mmDayOtherBackground: var(--tb-base-active) !important;
	--mmDayOtherBorderColor: none !important;
	--mmDayTodayBackground: var(--tb-accent-bg) !important;
	--mmDayTodayColor: var(--tb-base-fg) !important;
	--mmDayTodayBorderColor: none !important;
	--mmDayColor: var(--tb-base-fg) !important;
	--mmDaySelectedBackground: var(--tb-base-hover) !important;
	--mmDaySelectedBorderColor: none !important;
	--mmDaySelectedTodayBackground: var(--tb-base-bg) !important;
	--mmDaySelectedTodayBorderColor: none !important;
}




/* Minimonth Pane */
#minimonth-pane, #ltnSidebar {
	background: var(--tb-base-bg) !important;
}



/* Main Event and Calendar Panel */

/* This is behind the #unifinder-search-results-tree */
#calendar-view-box {
	background:  var(--tb-base-bg) !important;
}

#unifinder-search-results-tree {
	background: var(--tb-base-bg) !important;
}

/* Unifinder bar */
#bottom-events-box #unifinder-searchBox {
	background:  var(--tb-base-bg) !important;
	border: none !important;
}

#unifinder-search-results-tree-cols treecol {
	background: var(--tb-base-bg) !important;
}

#calendar-nav-control {
	background: var(--tb-base-bg) !important;
}

/* Event Filter */
#event-filter-menulist {
	background: var(--tb-base-bg) !important;
	border: none !important;
	border-radius: var(--tb-radius) !important;
}

/* Navigation bar, the bar before the tabs */
.navigation-inner-box {
	background: var(--tb-base-bg) !important;
	border: none !important;
}

/* Calendar tabs */
#view-tabs .calview[selected=true] {
	background: var(--tb-base-bg) !important;
	border: none !important;
}

#view-tabs .calview:hover {
	background: var(--tb-base-hover) !important;
	border: none !important;
}

/* Spacer between column and calendar */
.navigation-bottombox {
	background: var(--tb-base-bg) !important;
}


/* CALENDAR BACKGROUNDS */
/* The background of calendar and event  */
#view-deck {
	background: var(--tb-base-bg) !important;
	border-color: var(--tb-base-bg) !important;
}


/* DAY TAB */

#day-view box calendar-day-label,
#day-view box calendar-header-container,
#day-view box calendar-event-column {
	background: var(--tb-base-bg) !important;
	border-color: var(--tb-base-bg) !important;
}


/* WEEK TAB */
calendar-event-column {
  background-color: var(--tb-base-bg) !important;
}

























/* CALENDAR CORE */

calendar-header-container[weekend="true"]{
    background-color: #A1EFD3AA !important;
}

.calendar-event-column-linebox[weekend="true"] {
    background-color: #53E2AE60 !important;
}

calendar-header-container[selected="true"],
.calendar-event-column-linebox[selected="true"] {
    background-color: #6498EFAA !important;
}

calendar-header-container[weekend="true"][selected="true"],
.calendar-event-column-linebox[weekend="true"][selected="true"] {
    background-color: #F1FF5260 !important;
}




