@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Today Panel */

vbox, sidebarheader {
	background: transparent !important;
}

.mail-toolbox {
	background: transparent !important;
}



/* Calendar Pane */

/* Backgrond of Calendar Tab */
#calendarContent {
	background: transparent !important;
}


/* Minimonth Panel */

#minimonth-pane, #ltnSidebar {
	background: transparent !important;
}


/* Main Event and Calendar Panel */

/* This is behind the #unifinder-search-results-tree */
#calendar-view-box {
	background:  transparent !important;
}

#unifinder-search-results-tree {
	background: transparent !important;
}

/* Unifinder bar */
#bottom-events-box #unifinder-searchBox {
	background:  transparent !important;
	border: none !important;
}

#unifinder-search-results-tree-cols treecol {
	background: transparent !important;
}

#event-filter-menulist {
	background: transparent !important;
	border: none !important;
}






/* Task tree, the panel on the right side of calendar tab */
.calendar-task-tree {
	background-color: transparent !important;
	border: none !important;
	color: var(--tb-base-fg) !important;
	font-weight: normal !important;
}










/* Global Addons Main Event and calendar */

/* Minimonth Pane */
#minimonth-pane, #ltnSidebar {
	background: var(--tb-base-bg) !important;
}

/* Main Event and Calendar Panel */

/* This is behind the #unifinder-search-results-tree */
#calendar-view-box {
	background:  var(--tb-base-bg) !important;
}

#unifinder-search-results-tree {
	background: var(--tb-base-bg) !important;
}

/* Unifinder bar */
#bottom-events-box #unifinder-searchBox {
	background:  var(--tb-base-bg) !important;
	border: none !important;
}

#unifinder-search-results-tree-cols treecol {
	background: var(--tb-base-bg) !important;
}

#calendar-nav-control {
	background: var(--tb-base-bg) !important;
}

/* Event Filter */
#event-filter-menulist {
	background: var(--tb-base-bg) !important;
	border: none !important;
	border-radius: var(--tb-radius) !important;
}